{% extends 'base.html.twig' %}


        {% block stylesheets %}

            
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% endblock %}
{% block body %}
<div id="flex">


<div class="containermenu" id="flexcontainermenu">
    <span style="color:white; margin-top:10px; margin-left:10px;">
    connecté sur le compte de : ~    </span>

    <div id="divrecherche">
        <form id="formrecherche">
           <span style="color:white"> Rechercher une commande :</span>
        <input type="text" id="myInput" onkeyup="myFunction()">
        <button type="submit"><i class="fa fa-times"></i></button>
        </form>


    </div>
    </div>
<div id="DivAgregation">

<table class="styled-table">
              
                <tr id="Sticky">
                    <td>facture n°</td>
                    <td>Client</td>
                    <td>Date</td>
                    <td>total Articles</td>


              
              <tbody>

                       {%  for facture in Factures %}  
                        <tr class="trInfosFacture">
                            <td>{{facture.id}}</td>
                            <td>{{facture.Client.nomClient}}</td>
                            <td>{{facture.date |date('d/m/Y')}}</td>

                            <td>
                            {% set qteTotalArticles = 0 %}

                            {% for article in facture.Articles %}
                            {% set qteTotalArticles = qteTotalArticles + article.qte %}
                            {% endfor %}
                            {{qteTotalArticles}}
                            
                            </td>
                            
                           
                            
                            
                            


                        </tr>


                       {% endfor %}       

                                

              </tbody>

              

            </table>
</div>

{% endblock body %}