<!DOCTYPE html>
<html>
    <head>
    
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="./Style.min.css">

        <meta charset="UTF-8">
        
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}

            
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet"  href="https://fonts.googleapis.com/css?family=Roboto">
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% endblock %}

        <title>Document</title>

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
<header>
<nav id="navbar">

<ul>
<li><a {% if selected == 1 %} style="background-color: #009879;" {% endif %}    href="Accueil">Accueil</a></li>
  <li class="dropDown">
    <div id="dpCONTENT">

    <a style="  text-align: left;" href="Commandes">Agregation par produit</a>
    <a style="  text-align: left;" href="AgregationIngredients">Agregation par ingrédient</a>
  </div>
  <a {% if selected == 2 %} style="background-color: #009879;" {% endif %}    href="Commandes">Agregation</a>
  </li>


  <li><a {% if selected == 3 %} style="background-color: #009879;" {% endif %}     href="Produits">Produits</a></li>
  <li><a {% if selected == 5 %} style="background-color: #009879;" {% endif %}     href="Ingredients">Ingredients</a></li>
  <li><a {% if selected == 4 %} style="background-color: #009879;" {% endif %}     href="Clients">Clients</a></li>

  <li id="profilDD" style="float:right; cursor:pointer;"> 
  <div id="dropDownUsr">

    <a href="logout">Deconnexion</a>
  </div>
  <a>  Profil </a>
</li>
</ul>
    

</nav>

</header>
    
            {% block body %}
            
            {% endblock %}

        
    </body>
</html>
